<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JEProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JEProject.Properties.Settings>
            <setting name="SQLVersion" serializeAs="String">
                <value>MSSQL2019</value>
            </setting>
            <setting name="SQLUserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>ADp@ssB1</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>ADSRV01</value>
            </setting>
            <setting name="SAPCompanyDB" serializeAs="String">
                <value />
            </setting>
            <setting name="SAPUserName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="SAPPassword" serializeAs="String">
                <value>1234</value>
            </setting>
        </JEProject.Properties.Settings>
    </userSettings>
</configuration>